$def with (page)
$var css: static/css/bootstrap.min.css static/css/bootstrap.css
$var js: static/js/jquery-3.6.0.min.js static/js/bootstrap.min.js.map

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wizard</title>

    $if self.css:
        $for style in self.css.split():
            <link rel="stylesheet" href="$style" />
</head>
<body>
    <div id="app">
        <div class="navbar navbar-info navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand">Secret Wizard</a>
            <div/>

            <ul class="nav navbar-nav">
                <li><a class="waves-effect" href="/">Home<div class="ripple-container"></div></a></li>
                <li><a href="/discover">Discover<div class="ripple-container"></div></a></li>
                <li><a href="/profile">Profile<div class="ripple-container"></div></a></li>
                <li><a href="/settings">Settings<div class="ripple-container"></div></a></li>
            </ul>

            <div class="pull-right">
                <a href="/register" class="btn btn-raised btn-default">Register</a>&nbsp; &nbsp;
            </div>
        </div>
        $:page
    </div>

$if self.js:
    $for script in self.js.split():
        <script src="$script"></script>
</body>
</html>